@import "mixins";
@import "utility";

html {
  height: 100%;
  scroll-behavior: smooth;
}

body, #app, #global {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main-content {
  background-color: white;
  flex: 1;
}

menu {
  margin: 0;
  padding: 0;
}

[v-cloak] {
  display: none;
}

img:not([src]) {
  visibility: hidden;
}

a, a:hover, a:focus, textarea, input, input::-webkit-outer-spin-button, input::-webkit-inner-spin-button, button {
  @extend %reset-webkit-tap;
}

@media(max-width: 680px) {
  .reverse-columns {
    flex-direction: column-reverse !important;
    display: flex;
    flex-wrap: wrap;

    .column {
      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }
}
