$default-font: Helvetica Neue, Helvetica, Arial, sans-serif;

%disable-list {
  list-style: none;
}

%is-rounded {
  border-radius: 100%;
}

%full-width {
  width: 100%;
}

%reset-webkit-tap {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

%background-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

%no-background {
  background: none;
}

%transition {
  transition: all .2s cubic-bezier(0.25, 0.1, 0.25, 1);
}

%is-borderless {
  border: none;
}
