#main-header {
  @extend %full-width, %transition;
  background: rgb($primary, 95%);
  position: fixed;
  z-index: 1000;

  &.hidden {
    transform: translateY(-100%);
  }

  &.visible {
    transform: translateY(0);
  }
}
